/*--------------------Root Css-----------------------------*/
:root {
    --button_height: 34px;
}
#container_1{
  width: 100%;
  height: 100%;
}

#container_1 p{
  padding-left: 1.25%;
  padding-top: 0.8%;
}

#a2{
    width: 100%;
    height: 70%;
    background: white;
}
#b1{
    width: 100%;
    height: 48.6%;
    background: red;
    align-items: center;
    margin-top: 3%;
    margin-left: 1.25%;
}
#b1 h3 {
  padding: 0.75% 0 0.75% 1.25%;
}
/* #a2 select{
    width: 60%;
    font-size: 16px;
    margin-bottom: 15px;
    margin-left: 15px;
    height: var(--button_height);
    border: 1px solid;
    border-radius: 0.25rem;
} */
#btn_active{
    width: 10%;
    height: var(--button_height);
    border: 1px solid;
    background: white;
    margin-left: 2%;
    font-size: 20px;
    font-weight: bold;
}
.ecu-name-active{
    padding-right: 3.5%;
    padding-left: 0.4%;
    h3{
        font-size:25px;
        padding:15px;
    }
    p{
        font-size:21px;
        padding:15px;
    }
    .a1{
        width: 98.75%;
        height: 20%;
        background: #F0F0F0;
        margin-left: 1.25%;
        display:flex;
        flex-direction: column;
        h4{
            font-size:20px;
            padding:15px;
        }
    }
    .a2{
        width: 100%;
        height: 70%;
        background: white;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }
    #ecu-select{
        margin: 0% 0% 1% 1%;
        height: var(--button_height);
        border: 1px solid black;
        width: 70%;
        padding-left: 0.75%;
        border-radius: 0.25rem;
        font-size: 18px;
    }
}
.ecu-setting-container{
    margin-top: 1.8%;
    display:flex;
    flex-direction: column;
    h4{
        font-size:20px;
        padding:15px;
        margin-left: 1.25%;
        background: #F0F0F0;
    }
    .ecu-setting-wrapper{
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        margin-left: 1.25%;
        padding: 10px;
        background-color:#fff;
        .ecu-reset-setting-wrapper{
            display:flex;
            flex-direction: row;
            gap: 1rem;
            .ecu-reset-setting{
                /* margin-right: 1rem; */
                border: 1px solid black;
                height: 100%;
                width: 2rem;
                /* height: 31px;*/
                /* width: 31px;  */
                /* display: flex; */
                /* justify-content: center;
                align-items: center; */
                border-radius: 4px;
                background: #fff;
                /* height: 100%; */
                /* height: 26px;
                width: 26px; */
                font-weight: bold;
                i{
                    font-size:16px;
                    border:none;
                    /* font-weight: bold; */
                }
            }
            .ecu-column-setting{
                margin-right: 1%;
                height: 100%;
                width: 10rem;
                font-size:16px;
                /* 
                width: 10rem;
                border-radius: 0.25rem; */
                border: 1px solid black;
                font-weight: bold;
            }
        }
    }
    .vip{
        background-color:#fff;
        padding: 0px;
        margin-left: 5px;
        /* margin-right: 89.4rem; */
    }
    .filter-project-test{
        display:flex;
        flex-direction: row;
        gap: 2.3%;
        background: #fff;
        margin-left: 1.25%;
        padding: 10px 0 20px 10px;
        /* padding-bottom: 37px; */
    }
    .btn-filter{
        width: 10%;
        border: 1px solid black;
        background: #fff;
        font-size: 20px;
        font-weight: bold;
    }
    .filter-project-seting{
        border: 1px solid black;
        border-radius: 0.25rem;
        /* width: 61.5%; */
        width: 70.3%;
        margin-left: 0.4%;
        padding-left: 0.75%;
        height: var(--button_height);
        font-size: 18px;
    }
    /* Định dạng bảng */
    #eventTable {
        width: 100%;
        border-collapse: collapse;
        /* margin-top: 20px; Thêm khoảng cách trên bảng */
        &:hover{
            background-color: #e0e0e0; /* Thay đổi màu nền khi hover */
            cursor: pointer; /* Thay đổi con trỏ chuột thành hình bàn tay */
        }
    }

    #eventTable th, #eventTable td {
        border: 1px solid #000; /* Đường viền màu xám nhạt */
        padding: 8px;
        text-align: center;
    }

    #eventTable th {
        background-color: #5B5B5B; /* Màu nền cho tiêu đề cột */
        font-weight: bold; /* In đậm tiêu đề cột */
        color: #fff;
    }

    /* Định dạng cho hàng chẵn/lẻ (nếu cần) */
    #eventTable tr:nth-child(even) {
        background-color: #f9f9f9; /* Màu nền cho hàng chẵn */
    }
    #eventTable thead {
        position: sticky;
        top: 0;
        background-color: #f2f2f2; /* Giữ màu nền của tiêu đề */
        z-index: 1; /* Đảm bảo tiêu đề nằm trên nội dung bảng */
    }
    /* #eventTable tbody {
        overflow-y: auto;
        height: calc(50vh - 30px); /* Chiều cao của tbody = chiều cao div - chiều cao thead (ước tính) */
    .eventTable-wrapper{
        margin-left: 1.25%;
        background: #fff;
        padding: 1vh 1% 4vh;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }
    .btn-create-new-event{
        float: right;
        height: 5vh;
        width: 36vh;
        margin: 2vh 0vh 0vh 0vh;
        background: linear-gradient(to right, #112D60, #DD83E0);
        color: #fff;
        font-size: large;
    }
}