<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login_page</title>
    <link rel="stylesheet" href="{% static 'css/login/login_page.css' %}">
    <script src="{% static 'js/login/login_page.js' %}"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" rel="stylesheet">
    <script src="{% static 'js/login/login_page.js' %}" defer></script>
  </head>
  <body>
    <div id="container">
      <div id="sign_in">
        <div id="form_sign_in">
          <form id="form_login" action="">
            
            <h2 style="margin-bottom: 18px; margin-top: 10px; font-size: 30px">
              Sign in to work
            </h2>
            <hr
              style="
                width: 100%;
                margin-bottom: 46px;
                background-color: #7A7A7A;
                border: none;
                height: 1px;
              "
            />
            <div id="username_box">
              <label for="username" class="lable_sign_in">User name</label>
              <input
                type="text"
                id="username"
                name="username"
                class="input_text"
              />
            </div>
            <div id="pass_box">
              <label for="password" class="lable_sign_in">Password</label>
              <input
                type="password"
                id="password"
                name="password"
                class="input_text"
              />
              <i class="bi bi-eye-fill" id="eye" onclick="togglePassword()"></i>
              <i
                class="bi bi-eye-slash-fill"
                id="not_eye"
                onclick="togglePassword()"
              ></i>
            </div>
            <input
              type="submit"
              value="Reset password"
              id="submit"
              style="margin-bottom: 15px"
            />
          </form>
          <a href="{% url 'forgot_pass' %}" style="font-style: italic; font-size: 18px"
            >Forgot password</a
          >
        </div>
        <div id="right_form">
          <h1>ECU CONFIG WEBSITE</h1>
          <ul>
            <li>Khởi tạo, yêu cầu làm Giren</li>
            <li>Khởi tạo, tính toán giá trị config cho các ECU</li>
            <li>Setup lịch họp, tự động liên lạc đến các bên liên quan</li>
          </ul>
        </div>
      </div>
      <div id ="pass_word_error">
      </div>
      <div id="under_sign_in">
        <hr
          style="
            width: 100%;
            margin-bottom: 10px;
            padding-left: 5%;
            background-color: #7A7A7A;
            border: none;
            height: 1px;
          "
        />
        <form method="post" action="" id="language">
          <select>
            <option>Japanese</option>
            <option>English</option>
          </select>
        </form>
        <p>@DR31 Nisan Automotive Technology Viet Nam</p>
      </div>
    </div>
  </body>
</html>









