/* Scrollbar cho Webkit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px; /* Chiều rộng scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Màu nền của track */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Màu của thumb */
    border-radius: 10px; /* Bo tròn thumb */
    &:hover{
        background-color: #555;
    }
}
/* Scrollbar cho Firefox */
.scrollbar {
    /* scrollbar-width: thin; Chiều rộng scrollbar */
    scrollbar-color: #888 #f1f1f1; /* Màu thumb và track */
    overflow-y: scroll;
    height: 30vh;
    /* margin-left: 23px;
    padding-left: 18px; */
    background: #fff;
    border-bottom: 1px solid black;
    /* border: 1px solid black; */
}