/*--------------------Root Css-----------------------------*/
:root {
    --color_main: linear-gradient(to right, #112D60, #DD83E0);
    --font_size_form:19px;
    --height_input:43px;
    --width_input:389px;
    --boder_radius_input:10px;
    --margin_sign_in: 2px;
    --background_while:white;
    --color_boder:#7A7A7A;
    --font_text:20px;
    --font_title:30px;
    
}
/*-----------------------------------------------------*/
* {
    padding: 0;
    border: 0;
    margin: 0;
    font-family: Inter, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    background: var(--background_while);
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center;     /* Căn giữa theo chiều dọc */
}
/*-----------------------container-----------------*/
#container {
    width: 836px;
    height: 630px;
    background: var(--color_main);
    display: flex;
    flex-direction: column;  /* Đặt các phần tử con theo chiều dọc */
}
/*--------------------sign_in------------------------*/
/*   sign_in    */
#sign_in {
    width: 100%;
    height: 80%;
    background: var(--background_while);
    display: flex;
}
/*   form_sign_in  */
#form_sign_in {
    width: 386px;
    height: 100%;
    background: var(--background_while);
    padding-right: 43px;

}
.lable_sign_in{
    font-size: var(--font_text);
    width: var(--width_input);
    height: var(--height_input);
    border-radius: var(--boder_radius_input);
    
}
.input_text{
    margin-top: 18px;
    font-size: var(--font_size_form);
    width: var(--width_input);
    height: var(--height_input);
    border-radius: var(--boder_radius_input);
    margin-bottom: 46px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--color_boder) ;
    font-size: var(--font_text);
    padding-left: 10px;
    padding-right: 40px;
    box-sizing: border-box;
}
#submit{
    width: var(--width_input);
    height: var(--height_input);
    background: var(--color_main);
    border-radius: var(--boder_radius_input);
    color: var(--background_while);
    font-size:var(--font_text);
    
}
#pass_box{
    position: relative;
}

#pass_box i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: var(--font_text);
}

#not_eye {
    display: none;
}
/*   right_form  */
#right_form {
    width: 402px;
    /* height: 100%; */
    background: var(--color_main);
    border-radius: var(--boder_radius_input);
    color: var(--background_while);

}

#right_form h1 {
    padding-top: 50px;  
    font-size: var(--font_title);
    padding-right: 10%;
    padding-left: 5%;
    padding-bottom: 45px;
}

#right_form li {
    padding-bottom: 10px; 
    padding-right: 10%; 
    font-size:var(--font_text);
    padding-left: 5%;
    font-weight: lighter;
}
/*--------------------pass_word_error------------------------*/

#pass_word_error {
    width: 100%;
    height: 10%;
    background: var(--background_while);
    padding-top: 45px;
    font-size:var(--font_text);
    color: red;
}

/*--------------------under_sign_in------------------------*/
#under_sign_in {
    width: 100%;
    height: 10%;
    background: var(--background_while);
    padding-top: 110px;
}
#language{
    width: 187px;
    height: 29px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--color_boder) ;
    font-size: 15px;
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    align-items: center;

}

#under_sign_in p {
    padding-top: 10px;
    text-align: center;
    font-size: 15px;
}
